body{
    background-color: #2F4F4F;
}
header{
    background-color:#1E9585;
    height: 15px;
    padding: 8px;
}

#corpo{
    background-color: #2F4F4F;
    min-height: 60px;
    width: 100%
    float: right
}

img{
    width: 100px;
    cursor: pointer;
}

footer{
    clear: both;
    background-color:#DAA520;
    height: 30px;

}
*{
    margin: 0;
    padding: 0;
}