body{
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

header{
    background-color:#CDC9C9;
    height: 60px;
    padding: 20px;
}

#esquerda{
    background-color:#B0E0E6;
    min-height: 50px;
    width: auto;
    float: left;
}

#direita{
    background-color: #FFE4B5;
    min-height: 50px;
    width: 95%
    float: right
}

footer{
    clear: both;
    background-color:#DAA520;
    height: 30px;

}
img{
    width: 40px;
    border: 2px solid white;
    cursor: pointer;
}
img:hover{border: 2px solid red; zoom: 120%;}

#opa{
    font-size: 20px;
    width: 50%;
    float: right;
}